.questions {
  background-color: var(--color-background-light);
  margin-top: 10rem;
  color: #30261D;
}

.questions__title {
  font-family: TT Wellingtons;
  font-size: clamp(3.2rem, 3.57vw, 6.0rem);
  font-weight: 400;
  line-height: 6.0rem;
  letter-spacing: 0rem;
  text-align: left;
  padding-bottom: 6.0rem;
  padding-left: 3.0rem;
}

.accordion {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10.0rem;
}

.accordion_item {
  display: flex;
  flex-direction: column;
  width: 48.5%;
}

.question__text {
  font-family: 'TT Wellingtons';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  background-color: var(--color-background-light);
  padding: 1.5rem 2.3rem 1.5rem 3.0rem;
  border: none;
  border-bottom: 1px solid #E0DEDB;
}

.question_active {
  border-radius: 12px;
  background: url(../../../images/icons/arrow-right-qw.svg) no-repeat center right 2.3rem;
  background-color: #F6F5F3;
  border: 1px transparent;
}

.question__text:hover {
  border-radius: 0px;
  background: url(../../../images/icons/arrow-right-qw.svg) no-repeat center right 2.3rem;
  color: #9E7D43;
}

.answer {
  display: none;
  position: absolute;
  top: 0;
  left: 51.5%;
  border: 1px solid #E0DEDB;
  box-shadow: 0px 4px 20px rgba(22, 26, 32, 0.06);
  border-radius: 12px;
  background: transparent;
  padding: 3.0rem;
  max-width: 68rem;
}

.answer__title {
  font-family: TT Wellingtons;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.9rem;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 2.0rem;
}

.answer__text {
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.9rem;
  letter-spacing: 0rem;
  text-align: left;
}

@media screen and (max-width: 870px) {
  .questions {
    margin-top: 4.0rem;
    padding-left: 30px;
    padding-right: 30px;
  }

  .questions__title {
    line-height: 100%;
    text-align: left;
    padding-bottom: 6.0rem;
    padding-left: 0rem;
  }

  .accordion_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

  .answer {
    display: none;
    width: 100%;
    position: inherit;
    border: 1px transparent;
    box-shadow: 0px 4px 20px rgba(22, 26, 32, 0.06);
    border-radius: 12px;
    background: transparent;
    padding: 3.0rem;
    max-width: none;
    margin-top: 0.5rem;
    background-color: #F6F5F3;
  }

  .question_active {
    border-radius: 12px;
     background: url(../../../images/icons/arrow_down.svg) no-repeat center right 2.3rem;
     background-color: #F6F5F3;
  }
  
  .question__text:hover {
    border-radius: 0px;
    background: url(../../../images/icons/arrow_down.svg) no-repeat center right 2.3rem;
    color: #9E7D43;
  }

}