.booking {
    padding-top: 6.0rem;
    padding-bottom: 5.0rem;
}

.booking_wrapper {
    background-color: var(--color-background-light);
    border: 0rem;
    border-radius: 2.0rem;
    box-shadow: 0px 20px 50px rgba(25, 34, 41, 0.1);
    display: grid;
    grid-template-columns: 48.43% 48.43%;
    column-gap: 3.14%;
    padding: 6.0rem;
}

.booking_form {
    display: grid;
    grid-template-columns: 100%;
    font-family: 'TT Wellingtons';
    font-style: normal;
    letter-spacing: 0rem;
}

.datetime_container {
    display: grid;
    grid-template-columns: 48.3% 48.3%;
    column-gap: 3.4%;
}

.rental_container {
    display: grid;
    grid-template-columns: 27.5% 69.5%;
    column-gap: 3.0%;
}

.booking_form__title {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 100%;
    color: #30261D;
    margin-bottom: 2.0rem;
}

.booking_form__text {
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0rem;
    text-align: left;
    max-width: 47.6rem;
}

.select-css {
    display: block;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #444;
    padding: 1.3rem 2.0rem 1.3rem 2.0rem;
    background: #FFFFFF;
    border: 1px solid #E0DEDB;
    box-shadow: 0px 4px 20px rgba(22, 26, 32, 0.06);
    border-radius: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0rem;
}

.select-css_arrow {
    background-image: url('../../images/icons/arrow_down.svg');
    background-position: right 2.3rem center, 0 0;
    background-repeat: no-repeat;
}

.select-css_location {
    background-image: url('../../images/icons/place.svg');
    background-position: right 2.3rem center, 0 0;
    background-repeat: no-repeat;
}

.select-css::-ms-expand {
    display: none;
}

.booking__datetime {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #444;
    padding: 1.3rem 1.6rem 1.3rem 2.0rem;
    background: #FFFFFF;
    border: 1px solid #E0DEDB;
    box-shadow: 0px 4px 20px rgba(22, 26, 32, 0.06);
    border-radius: 12px;
    appearance: none;
    background-image: url('../../images/icons/arrow_down.svg');
    background-position: right 2.3rem center, 0 0;
    background-repeat: no-repeat;
    margin: 0rem;
}

.booking__datetime::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.booking_form__label {
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    margin-top: 3.0rem;
    margin-bottom: 1.0rem;
}

.option_container {
    display: inline-block;
    padding-bottom: 1.9rem;
    border-bottom: 1px solid #E0DEDB;
    ;
}

.option_container label {
    margin: 0rem 1.0rem 1.0rem 0rem;
}

.option_container>:first-child {
    min-width: 325px;
}

.total_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.total_container>:last-child {
    font-family: TT Wellingtons;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: right;
}

.booking_img {
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    height: auto;
    margin-bottom: 3.0rem;
}

.booking__button {
    margin-top: 1.7rem;
    font-size: 1.8rem;
    padding: 1.8rem 3rem 1.8rem 3rem;
}

.booking_accessories {
    font-family: TT Wellingtons;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.88rem;
    letter-spacing: 0em;
    text-align: left;
    color: #30261D;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #FFFFFF;
    border: 1px solid #E0DEDB;
    box-shadow: 0px 4px 20px rgba(22, 26, 32, 0.06);
    border-radius: 12px;
}

.booking_accessories__text {
    margin: 2.0rem 2.0rem 1.3rem 3.0rem;
    width: 19.6rem;
}

.booking_accessories__summ {
    font-weight: 700;
    color: #888888;
    margin: 0rem 3.0rem 2.0rem 3.0rem;
}

.booking_accessories__img {
    width: 100%;
    max-width: 210px;
    height: auto;
    margin: 0.5rem 1.0rem 0.5rem 0rem;
}