.booking {
    padding-top: 6.1rem;
    padding-bottom: 5.0rem;
}

.booking_wrapper {
    background-color: var(--color-background-light);
    border: 0px;
    border-radius: 20px;
    box-shadow: 0px 20px 50px rgba(25, 34, 41, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booking_form {
    font-family: 'TT Wellingtons';
    font-style: normal;
    letter-spacing: 0rem;
    /*display: flex;*/
    flex-direction: column;
    margin: 6.0rem 2.0rem 6.0rem 6.0rem;
}

.booking_form__title {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 100%;
    color: #30261D;
}

.booking_form__text {
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0rem;
    text-align: left;
}

.booking_form__label {
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 2.4rem;
    text-align: left;
}

.booking_slider {
    margin: 6.0rem 6.0rem 6.0rem 2.0rem;
    display: flex;
    flex-direction: column;
}