.slider {
	display: flex;
	flex-direction: column;
	padding: 4vw;
	margin: auto;
	width: var(--sl-content-width);
	max-width: var(--content-max-width);
	min-width: var(--sl-content-min-width);
	background-color: var(--sl-color-background);
}

.slider--hidden {
	overflow: hidden;
}


.slider span {
	min-width: 100%;
	color: var(--sl-color-control-xl);
}
.slider input {
	display: none;
}
.slider .slider__section:first-of-type {
	border: 1%px solid rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	/*overflow: hidden;*/
}

 
.slider .slider__section:last-of-type {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider .slider__section:first-of-type>.slider__article:first-child {
	display: flex;
	flex-direction: row;
	transition: ease-in-out .8s;
}

.slider .slider__section:last-of-type>.slider__article:first-child {
	/*overflow: hidden;*/
}

.slider__article:nth-of-type(1) img {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
		max-height: 630px;
    height: auto;
    display: block;
		padding-right: 1%;
}

.slider__controls {
	display: flex;
}

.slider__controls label {
	cursor: pointer;
	padding: .5rem .5rem .9rem .5rem;
}

.slider__bnt {
	display: flex;
	width: 1.5rem;
	height: 1.5rem;
	box-sizing: border-box;
	background: var(--sl-color-control-l);
	transition: background-color .7s;
	border-radius: 50%;
	border: 0.25rem solid var(--sl-color-control-l);

}

.slider__controls label:hover .bnt {
	background: var(--sl-color-control-xl);
	border-color: var(--sl-color-control-xl);
}

.slider__controls label:active .bnt {
	background: var(--sl-color-background);
}

.slider input:nth-child(1):checked~.slider__section:last-of-type>.slider__article:last-child>.slider__controls>label[for="button-1"]>span,
.slider input:nth-child(2):checked~.slider__section:last-of-type>.slider__article:last-child>.slider__controls>label[for="button-2"]>span,
.slider input:nth-child(3):checked~.slider__section:last-of-type>.slider__article:last-child>.slider__controls>label[for="button-3"]>span,
.slider input:nth-child(4):checked~.slider__section:last-of-type>.slider__article:last-child>.slider__controls>label[for="button-4"]>span,
.slider input:nth-child(5):checked~.slider__section:last-of-type>.slider__article:last-child>.slider__controls>label[for="button-5"]>span {
	background: var(--sl-color-background);
}

.slider input:nth-child(1):checked~.slider__section:first-of-type>.slider__article:first-child {
	transform: translateX(-101%);
}

.slider input:nth-child(2):checked~.slider__section:first-of-type>.slider__article:first-child {
	transform: translateX(-202%);
}

.slider input:nth-child(3):checked~.slider__section:first-of-type>.slider__article:first-child {
	transform: translateX(-303%);
}


.slider input:nth-child(4):checked~.slider__section:first-of-type>.slider__article:first-child {
	transform: translateX(-404%);
}


.slider input:nth-child(5):checked~.slider__section:first-of-type>.slider__article:first-child {
	transform: translateX(-502%);
}
