@import url('../styles/slider.css');

:root {
    --content-width: 80%;
    --content-max-width: 1680px;
    --color-background: #E5E5E5;
    --color-background-footer: #30261D;
    --color-light-xl: #ffffff;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #333333;
    --color-dark-2xl: #444444;
    --color-dark-3xl: #292929;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-text: red;

    --sl-content-width: 60%;
	--sl-content-min-width: 360px;
	--sl-color-background: #ffffff;
	--sl-color-control-l: #245dc7;
	--sl-color-control-xl: #ffffff;
}



html {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}

* {
    margin: 0px;
    padding: 0px;
    /*border: 1px dotted red;*/
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    text-align: left;
}

/***** ----common styles---- ****/

header,
footer,
section,
.header_background,
.background_wraper {
    max-width: var(--content-max-width);
    width: 100%;
    margin: 0 auto;
    background: var(--color-background-footer);
}

.background_wraper {
    background: var(--color-background);
}

.header_wrapper,
.footer_wrapper,
.section1_wrapper,
.section2_wrapper,
.section3_wrapper,
.section5_wrapper,
.section6_wrapper
{
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
.h3_mobile,
.h5_modal {
    font-family: 'TT Wellingtons';
    margin: 0px;
    padding: 0px;
}

.button_primary,
.button_scondary {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1.5rem 3rem 1.1rem 3rem;
    border-radius: 1.2rem;
    border-color: transparent;


}

.button_primary {
    color: var(--color-light-xl);
    background: #9E7D43;
    margin-right: 1.5rem;
}

.button_scondary {
    color: var(--color-dark-xl);
    background: #ffffff;
}


/**** --header section styles-- ****/

.header_background {
    background: url(../../assets/images/background.png) no-repeat top center;
    background-size: cover;
}


.nav_wrapper {
    padding-top: 5.0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'TT Wellingtons';
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.2rem;
    text-align: left;
}

.nav_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_block a {
    margin-right: 4.0rem;
    color: var(--color-light-xl);
    column-gap: 4.0rem;
}

.nav_block>a:nth-child(3) {
    margin: 0px;
}

.intro_wrapper {
    width: 100%;
}

.intro_wrapper h1 {
    color: var(--color-light-xl);
    font-size: 3.67vw;
    font-weight: 400;
    line-height: 4.41vw;
    text-align: left;
    margin-top: 9%;
    width: 48%;
}

.button_block {
    margin-top: 5rem;
    padding-bottom: 17.7%;
    /*padding-bottom: 238px;*/
}

/******** -- section1 styles-- ********/
.section1_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 2px solid #E0DEDB;
}

.section1_wrapper h2 {
    font-size: 6rem;
    font-weight: 400;
    line-height: 6rem;
    letter-spacing: 0em;
    text-align: left;
}

.section1_wrapper>div,
img {
    border-radius: 20px;
    margin: 20px;
}

.section1_wrapper>div:nth-child(1) {
    flex: 5;
}

.section1_wrapper>div:nth-child(2) {
    flex: 5;
}

.section1_wrapper>div:nth-child(4),
.section1_wrapper>div:nth-child(6) {
    background-color: #ffffff;
    flex: 1;
}

/******** -- section2 styles-- ********/
.section2_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0px 20px 50px rgba(25, 34, 41, 0.1);
    border-radius: 20px;
}

.dropdown {
    color: #ffffff;
    padding-right: 20px;
    width: 220px;
    background: #E0DEDB;
    border: 1px solid #E0DEDB;
    box-shadow: 0px 4px 20px rgba(22, 26, 32, 0.06);
    border-radius: 12px;
    font-size: 1.8rem;
    line-height: 3.2rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #becfbf;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content option {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown option:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/******** -- section3 styles-- ********/
.section3_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
/******** -- section4 styles-- ********/
.section4_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.section4_wrapper>div:nth-child(1)
{ 
    background: url(../../assets/images/image1.png) no-repeat top;
}

.section4_wrapper>div:nth-child(3)
{ 
    background: url(../../assets/images/image2.png) no-repeat top;
}

/******** -- section5 styles-- ********/
.section5_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/******** -- section6 styles-- ********/
.section5_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*
.h3_mobile {
    font-size: 25px;
    line-height: 130%;
    color: var(--color-text);
    letter-spacing: 0.06em;
}

.h5_modal {
    font-weight: 700;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-text);
}

.button_arrow_lf {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    color: var(--color-dark-3xl);
    background-color: transparent;
    background: url(../../assets/icons/arrow-left.svg) no-repeat center center;
    padding: 23px 19px;
}

.button_arrow_rt {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    color: var(--color-dark-3xl);
    background-color: transparent;
    background: url(../../assets/icons/arrow-right.svg) no-repeat center center;
    padding: 23px 19px;
}

.button_primary:hover,
.button_secondary:hover,
.button_arrow_rt:hover,
.button_arrow_lf:hover {
    background-color: var(--color-primary-light);
}

.link_active {
    border-bottom: 3px solid var(--color-primary);
    color: var(--color-light-s) !important;
}


/*

.footer_background {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: url(../../assets/images/noise_transparent@2X.png),
        radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
        #211F20;
}
*/

/**** ----pets section styles-- -- ****/
.help_wrapper {
    padding: 80px 0px 100px 0px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    /*grid-template-rows: 150px auto 112px;*/
    justify-items: center;
}

.help_wrapper :nth-child(1) {
    grid-column: 1/6;
}


@media only screen and (max-width: 768px) {
	.wrapper {
		padding: 1vw;
		width: 98vw;
	}

	.wrapper section:last-of-type {
		flex-direction: column-reverse;
	}

}