@import url('../styles/dropdown.css');
@import url('../styles/slider.css');

:root {
    --content-width: 83.33%;
    --content-max-width: 1680px;
    --color-background-dark: #E5E5E5;
    --color-background-light: #FFFFFF;
    --color-background-footer: #30261D;
    --color-text-light: #FFFFFF;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-dark-xl: #333333;
    /*    ----for slider----   */
    --sl-content-width: 60%;
    --sl-content-min-width: 360px;
    --sl-color-background: var(--color-background);
    --sl-color-control-l: #C9C9C9;
    --sl-color-control-xl: #9f975cc5;
}

html {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.576rem;
    text-align: left;
}

/***** ----common styles---- ****/
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
.h3_mobile,
.h5_modal {
    font-family: 'TT Wellingtons';
    font-style: normal;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 6rem;
    line-height: 6rem;
}

h3 {
    font-size: 3.2rem;
    line-height: 3.2rem;
}


.header,
.footer,
.features,
.booking,
.advantage,
.carusel,
.specification,
.instagram,
.questions {
    max-width: var(--content-max-width);
    width: 100%;
    margin: 0 auto;
    background: var(--color-background-dark);
    /*border: 2px dotted darkblue;*/
}

.wrapper {
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    /*border: 2px dotted red;*/
}

.wrapper_border {
    border-bottom: 2px solid #E0DEDB;
}

.wrapper_background_lite {
    background-color: var(--color-background-light);
}

.button_primary,
.button_scondary {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1.5rem 3rem 1.1rem 3rem;
    border-radius: 1.2rem;
    border-color: transparent;
}

.button_primary {
    color: var(--color-text-light);
    background: #9E7D43;
    margin-right: 1.5rem;
}

.button_scondary {
    color: var(--color-dark-xl);
    background: #ffffff;
}

/**** --header section styles-- ****/
.header_background {
    background: url(../../assets/images/background.png) no-repeat top center;
    background-size: cover;
}

.wrapper__header {
    width: 80%;
}

.header__naviline {
    padding-top: 5.0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navigation {
    font-family: 'TT Wellingtons';
    font-size: 1.8rem;
    font-weight: 700;
    /*line-height: 2.16rem;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation__link {
    margin-right: 4.0rem;
    color: var(--color-text-light);
}

.header__navigation>a:nth-child(3) {
    margin: 0px;
}

.header__promo {
    width: 100%;
}

.header__promo h1 {
    color: var(--color-text-light);
    font-size: 3.67vw;
    font-weight: 400;
    line-height: 4.41vw;
    text-align: left;
    margin-top: 9%;
    width: 48%;
}

.promo__button {
    margin-top: 5rem;
    padding-bottom: 17.7%;
}

/******** -- features section styles-- ********/
.features {
    padding-top: 10rem;
}

/*
.features img,
div {
    border: 2px dotted darkgreen;
}
*/
.features__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10.0rem;
}

.features__info div,
img {
    margin-bottom: 4.0rem;
    border-radius: 20px;
}

.info_features {
    overflow: hidden;
    background-color: var(--color-background-dark);
}

.info_features {
    font-size: 1.6rem;
    flex-basis: 44%;
    margin-bottom: 4rem;
    padding-left: 3.5rem;
}

.features__title {
    max-width: 43rem;
}

.features__text {
    padding-top: 3rem;
}

.info_delivery,
.info_prices {
    font-family: 'TT Wellingtons';
    background: var(--color-background-light);
    box-shadow: 0px 20px 50px rgba(25, 34, 41, 0.1);
    border-radius: 20px;
    max-width: 32rem;
    min-width: 26rem;
    color: #30261D;
    max-width: 32.0rem;
}

.delivery__title {
    padding-bottom: 3.0rem;
    max-width: 60%;
    line-height: 3.84rem;
}

.delivery__text {
    font-size: 2.0rem;
    line-height: 2.8rem;
    max-width: 26.0rem;

}

.info_delivery {
    font-size: 2.0rem;
    line-height: 2.8rem;
    padding: 3.0rem;
}

.info_prices {
    font-family: 'TT Wellingtons';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: left;
    padding: 3.0rem;
}

.info_prices :nth-child(2) {
    padding-bottom: 1.8rem;
}

.info_prices :nth-child(3) {
    padding-bottom: 2.0rem;
}

.prices__title {
    font-size: 3.2rem;
    padding-bottom: 4.8rem;
}

.prices__info {
    font-family: 'TT Wellingtons';
    font-style: normal;
    font-weight: 400;
    font-size: 6.4rem;
    line-height: 100%;

}

.info_sub_small {
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.info_color_light {
    color: #888888;
}




/******** -- booking section styles-- ********/
.wrapper_radius {
    border-radius: 20px;
    background-color: var(--color-background-light);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.booking_form {
    display: flex;
    flex-direction: column;
    margin: 6.0rem 2.0rem 6.0rem 6.0rem;
}

.form__title {
    font-family: 'TT Wellingtons';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 100%;
    color: #30261D;

}

.booking_slider {
    margin: 6.0rem 6.0rem 6.0rem 2.0rem;
    display: flex;
    flex-direction: column;
}

/******** -- advantage section styles-- ********/

.advantage_wrapper {
    width: 76%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 4.0rem;
    padding-bottom: 12rem;
}

.adwantage__block {
    max-width: 33.6rem;
}

/******** -- carusel section styles-- ********/

.carusel {
    overflow: hidden;
}

/******** -- specification section styles-- ********/
.specification__wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.specification__title {
    font-size: 6rem;
    line-height: 6rem;
    padding-bottom: 60px;
}

.specification_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.characteristics__info {
    margin-left: 100px;
}

.characteristics__title {
    padding-bottom: 40px;

}

/******** -- instagram section styles-- ********/
.instagram_line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instagram__title {
    font-size: 4.8rem;
    line-height: 4.8rem;
}

.instagram__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: #9E7D43;
}

.instagram__link:hover {
    color: var(--color-primary-dark);
}

.instagram_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 60px;
}

.gallery__picture {
    flex: 1 0;
    padding-bottom: 100px;
    max-width: 320px;
    border-radius: 20px;
}

.gallery__picture:not(:last-child) {
    margin-right: 2.5%;
}


/******** -- questions section styles-- ********/

.questions_wrapper {
  margin-top: 10rem;;
}

.questions_background {
    background-color: var(--color-background-light);
}

.questions__title {
    padding-bottom: 60px;
    padding-left: 30px;
}

.questions-block {
    display: flex;
    justify-content: space-between;
}

.accordion {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.accordion__item {
    display: inline;
    padding: 14px 30px;
    border-bottom: 1px solid #EDF2EC;
    border-radius: 12px;
}

.accordion__item--active {
    border: 1px solid #EDF2EC;
    background: #F6F5F3;
    border-radius: 12px;
}

.item-text {
    font-family: 'TT Wellingtons';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.item-arrow {
    height: 14px;
    width: 14px;
    margin-right: 23px;
}

.answer {
    border: 1px solid #E0DEDB;
    box-shadow: 0px 4px 20px rgba(22, 26, 32, 0.06);
    border-radius: 12px;
    background: transparent;
    padding: 30px;
    max-width: 68rem;
    margin-bottom: 187px;
}

.answer__title {
    font-size: 2.4rem;
    line-height: 2.9rem;
    padding-bottom: 20px;
}

.answer__text {
    font-size: 1.8rem;
    line-height: 2.9rem;
}

/******** -- footer section styles -- ********/
.footer_background {
    background-color: var(--color-background-footer);

}
.footer_wrapper{
    padding: 60px 70px 21px 70px;
}

.footer__logo {
    padding-left: 125px;
    padding-bottom: 20px;
}

.footer__navigation {
    display: flex;
}

.footer__navigation__item {
    margin-left: 121px;
}

.footer__navigation__link {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
}

.footer__navigation {
    margin-left: 50px;
}

.footer__social-media {
    margin-right: 40px;
}

.social-media {
    margin-left: 18px;
}

.footer-line {
    border-bottom: 2px solid #FFFFFF;
    border-radius: 20px;
}


/*

.button_arrow_lf {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    color: var(--color-dark-3xl);
    background-color: transparent;
    background: url(../../assets/icons/arrow-left.svg) no-repeat center center;
    padding: 23px 19px;
}

.button_arrow_rt {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    color: var(--color-dark-3xl);
    background-color: transparent;
    background: url(../../assets/icons/arrow-right.svg) no-repeat center center;
    padding: 23px 19px;
}

.link_active {
    border-bottom: 3px solid var(--color-primary);
    color: var(--color-light-s) !important;
}

.footer_background {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: url(../../assets/images/noise_transparent@2X.png),
        radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
        #211F20;
}

.help_wrapper {
    padding: 80px 0px 100px 0px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 150px auto 112px;
    justify-items: center;
}

.help_wrapper :nth-child(1) {
    grid-column: 1/6;
}
*/

@media only screen and (max-width: 768px) {
    .slider {
        padding: 1vw;
        width: 98vw;
    }

    .wrapper section:last-of-type {
        flex-direction: column-reverse;
    }

}