@font-face {
  font-family: 'Inter';
  src: url('./Inter-Regular.eot');
  src: local('./Inter Regular'), local('Inter-Regular'),
      url('./Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('Inter-Regular.woff2') format('woff2'),
      url('./Inter-Regular.woff') format('woff'),
      url('./Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'Inter';
src: url('./Inter-Medium.eot');
src: local('./Inter Medium'), local('Inter-Medium'),
    url('./Inter-Medium.eot?#iefix') format('embedded-opentype'),
    url('./Inter-Medium.woff2') format('woff2'),
    url('./Inter-Medium.woff') format('woff'),
    url('./Inter-Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('./SofiaProBlack.eot');
    src: local('Sofia Pro Black'), local('SofiaProBlack'),
        url('./SofiaProBlack.eot?#iefix') format('embedded-opentype'),
        url('./SofiaProBlack.woff2') format('woff2'),
        url('./SofiaProBlack.woff') format('woff'),
        url('./SofiaProBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
  font-family: 'TT Wellingtons';
  src: url('./TTWellingtons-Regular.eot');
  src: local('TT Wellingtons Regular'), local('TTWellingtons-Regular'),
    url('./TTWellingtons-Regular.eot?#iefix') format('embedded-opentype'),
    url('./TTWellingtons-Regular.woff2') format('woff2'),
    url('./TTWellingtons-Regular.woff') format('woff'),
    url('./TTWellingtons-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Wellingtons';
  src: url('./TTWellingtons-Bold.eot');
  src: local('./TT Wellingtons Bold'), local('TTWellingtons-Bold'),
      url('./TTWellingtons-Bold.eot?#iefix') format('embedded-opentype'),
      url('./TTWellingtons-Bold.woff2') format('woff2'),
      url('./TTWellingtons-Bold.woff') format('woff'),
      url('./TTWellingtons-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Wellingtons';
  src: url('./TTWellingtons-Medium.eot');
  src: local('./TT Wellingtons Medium'), local('TTWellingtons-Medium'),
      url('./TTWellingtons-Medium.eot?#iefix') format('embedded-opentype'),
      url('./TTWellingtons-Medium.woff2') format('woff2'),
      url('./TTWellingtons-Medium.woff') format('woff'),
      url('./TTWellingtons-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Wellingtons';
  src: url('./TTWellingtons-Thin.eot');
  src: local('TT Wellingtons Thin'), local('TTWellingtons-Thin'),
      url('./TTWellingtons-Thin.eot?#iefix') format('embedded-opentype'),
      url('./TTWellingtons-Thin.woff2') format('woff2'),
      url('./TTWellingtons-Thin.woff') format('woff'),
      url('./TTWellingtons-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Wellingtons';
  src: url('./TTWellingtons-Light.eot');
  src: local('./TT Wellingtons Light'), local('TTWellingtons-Light'),
      url('./TTWellingtons-Light.eot?#iefix') format('embedded-opentype'),
      url('./TTWellingtons-Light.woff2') format('woff2'),
      url('./TTWellingtons-Light.woff') format('woff'),
      url('./TTWellingtons-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro Semi';
  src: url('./SofiaProSemiBold.eot');
  src: local('Sofia Pro Semi Bold'), local('SofiaProSemiBold'),
    url('./SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),
    url('./SofiaProSemiBold.woff2') format('woff2'),
    url('./SofiaProSemiBold.woff') format('woff'),
    url('./SofiaProSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./SofiaProMedium.eot');
  src: local('Sofia Pro Medium'), local('SofiaProMedium'),
    url('./SofiaProMedium.eot?#iefix') format('embedded-opentype'),
    url('./SofiaProMedium.woff2') format('woff2'),
    url('./SofiaProMedium.woff') format('woff'),
    url('./SofiaProMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./SofiaProBold.eot');
  src: local('Sofia Pro Bold'), local('SofiaProBold'),
    url('./SofiaProBold.eot?#iefix') format('embedded-opentype'),
    url('./SofiaProBold.woff2') format('woff2'),
    url('./SofiaProBold.woff') format('woff'),
    url('./SofiaProBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./SofiaProRegular.eot');
  src: local('Sofia Pro Regular'), local('SofiaProRegular'),
    url('./SofiaProRegular.eot?#iefix') format('embedded-opentype'),
    url('./SofiaProRegular.woff2') format('woff2'),
    url('./SofiaProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}