:root {
    --content-max-width: 1680px;
    --content-width: 83.33%;
    --color-background-dark: #E5E5E5;
    --color-background-light: #FFFFFF;
    --color-background-footer: #30261D;
    --color-text-light: #FFFFFF;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-dark-xl: #333333;
    /*    ----for slider----   */
    --sl-content-width: 60%;
    --sl-content-min-width: 360px;
    --sl-color-background: var(--color-background);
    --sl-color-control-l: #C9C9C9;
    --sl-color-control-xl: #9f975cc5;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    border: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.section-wrapper {
    max-width: var(--content-max-width);
    min-width: 320px;
    width: 100%;
    margin: 0px auto;
    background: var(--color-background-dark);
    /*---------- debug ----------
    border: 1px dotted darkblue;*/
}

.content-wrapper {
    max-width: var(--content-width);
    width: 100%;
    margin: 0px auto;
    /*---------- debug -----------
    border: 1px dotted red;*/
}

.button-primary,
.button-scondary {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1.5rem 3rem 1.1rem 3rem;
    border-radius: 1.2rem;
    border: 0 transparent;
}

.button-primary {
    color: var(--color-text-light);
    background: #9E7D43;
}

.button-scondary {
    color: var(--color-dark-xl);
    background: #ffffff;
}

@media screen and (max-width: 1080px) {
    :root {
        --content-width: 100%;
    }
}