.features {
  padding-top: 10rem;
}

.features_border {
  border-bottom: 2px solid #E0DEDB;
}

.features_info {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 6.0rem;
}

.info__rows_1 {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: clamp(0.5rem, 2.85%, 4.0rem);
}

.info-features {
  width: 48.5%;
  font-size: 1.6rem;
  margin-bottom: 4rem;
  padding-left: 3.0rem;
  overflow: hidden;
  background-color: var(--color-background-dark);
}

.info-features__title {
  font-family: TT Wellingtons;
  font-size: clamp(3.2rem, 3.57vw, 6.0rem);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0rem;
  text-align: left;
  max-width: 43.8rem;
  margin-right: 2.0rem;
}

.info-features__text {
  font-family: Inter;
  font-size: clamp(1.4rem, 0.95vw, 1.6rem);
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0rem;
  text-align: left;
  max-width: 61.5rem;
  margin: 3rem 2.0rem 0rem 0.5rem;
}

.info__rows_1 img {
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height: auto;
  min-height: 189px;
  object-fit: cover;
}

.info__rows_2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(0.5rem, 2.38vw, 4.0rem);
  justify-content: space-between;
}


.info__rows_2 img,
.info-delivery,
.info-prices {
  overflow: hidden;
  font-family: 'TT Wellingtons';
  background: var(--color-background-light);
  box-shadow: 0px 20px 50px rgba(25, 34, 41, 0.1);
  border-radius: 20px;
  color: #30261D;
  min-height: 155px;
  width: 100%;
  height: auto;

}

.info-delivery {
  font-family: TT Wellingtons;
  font-weight: 400;
  padding: 9.37%;
}


.info-delivery__title {
  font-family: TT Wellingtons;
  font-weight: 400;
  line-height: 120%;
  font-size: clamp(1.6rem, 1.9vw, 3.2rem);
  letter-spacing: 0rem;
  text-align: left;
  padding-bottom: 11%;
}

.info-delivery__text {
  margin: 0rem;
  font-size: clamp(1.1rem, 1.19vw, 2.0rem);
  line-height: 140%;
}

.info-prices {
  font-family: 'TT Wellingtons';
  font-weight: 400;
  text-align: left;
  padding: 9.37%;
}

.info-prices__title {
  font-size: clamp(1.4rem, 1.9vw, 3.2rem);
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0rem;
  text-align: left;
  padding-bottom: 16%;
}

.info-prices__text {
  font-family: 'TT Wellingtons';
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1.0rem, 0.9vw, 1.6rem);
  line-height: 100%;
  padding-bottom: 7%;
}

.info-prices__cost {
  font-family: 'TT Wellingtons';
  font-style: normal;
  font-weight: 400;
  font-size: clamp(3.2rem, 3.8vw, 6.4rem);
  line-height: 100%;
}

.info-prices__small {
  font-family: 'TT Wellingtons';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  padding-left: 0.5rem;
}

.info-prices_color {
  color: #888888;
}


@media screen and (max-width: 870px) {
  .features {
    padding-top: 4.0rem;
  }

  .features_info {
    padding: 0rem 3.0rem 4.0rem 3.0rem;
  }

  .info-features__title {
    max-width: 80%;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }

  .info-features {
    width: 100%;
    margin: 0rem;
    padding: 0rem;
  }

  .info-features__text {
    text-align: left;
    max-width: 100%;
    line-height: 2.24rem;
    padding: 1.7rem 0rem 1.7rem 0rem;
    margin: 0;
  }

  .info__rows_1 {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: clamp(0.5rem, 1.33%, 4.0rem);
  }

  .info__rows_1 :nth-child(2) {
    width: 100%;
  }

  .info__rows_2 {
    grid-template-columns: 1fr 1fr;
    gap: clamp(0.5rem, 1.33%, 4.0rem);
  }

  .info__rows_2>:nth-child(1),
  .info__rows_2>:nth-child(4) {
    justify-self: end;
  }

  .info__rows_2>:nth-child(4) {
    grid-area: 2/1/2/2;
  }

  .info-delivery__title {
    font-family: TT Wellingtons;
    font-weight: 400;
    line-height: 120%;
    font-size: clamp(1.6rem, 1.9vw, 3.2rem);
    letter-spacing: 0rem;
    text-align: left;
    padding-bottom: 11%;
  }

  .info-delivery__title {
    padding-bottom: 10px;
  }

  .info-prices__title {
    padding-bottom: 16px;
  }
}