.advantage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5.0rem 6.0rem 10.0rem 6.0rem;
}

.adwantage__items {
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.9rem;
  letter-spacing: 0rem;
  text-align: left;
  width: 28%;
}

.adwantage__title {
  font-family: TT Wellingtons;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0rem;
  text-align: left;
  color: #30261D;
  margin: 3.0rem 0rem 3.0rem 0rem;
}