.advantage {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 4.0rem;
  padding-bottom: 12rem;
}

.adwantage__title {
  font-family: TT Wellingtons;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0rem;
  text-align: left;
  color: #30261D;

}

.adwantage__items {
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.9rem;
  letter-spacing: 0rem;
  text-align: left;
  max-width: 33.6rem;
}